<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%-5level] %d{HH:mm:ss}: %msg%n</pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="file" fileName="logs/logs.log" filePattern="logs(%d{yyyy-MM-dd}).log">
            <PatternLayout>
                <pattern>[%-5level] %d{HH:mm:ss} [%t] %c{2}: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="12 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="logger" level="debug" additivity="true">
            <appender-ref ref="file" level="debug" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </Root>
    </Loggers>
</Configuration>

